/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body * {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* start */
body {
  background-color: rgb(0, 255, 98);
}
/* navbar */
.navbar {
  height: fit-content;
  padding: 5px;
  background-color: rgb(255, 187, 0);
  box-sizing: border-box;
}
.nav1 {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav1 img {
  height: 100%;
}
.navb2 {
  display: flex;
  background-color: rgb(255, 187, 0);
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 10px;
  z-index: 99;
}
.nav2 {
  width: 60%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.n2 {
  width: 100%;
}
.nav2 ul {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav2 ul li {
  text-align: center;

}
.nav2 ul a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}
.nav2 ul a:hover {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: black;
}

/* navbar end */
/* isi start */
.bagian .box1,
.box2,
.box3 {
  overflow: auto;
  height: 60vh;
  box-sizing: border-box;
}
.box1{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxxes1{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center ;
}
.boxe1{
  justify-content: center;
  align-items: center;
}
.bo2{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bo1{height: fit-content;
  flex-wrap: wrap;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxxes2{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxxes1 h2{
  font-size: 25px;
}
.bo1 p{
  text-align: center;
  font-size: 20px;
}
.b1,.b2{
  width: 40%;
}
/* isi end */
