/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body * {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* start */
body {
  background-color: rgb(0, 255, 98);
}
/* navbar */
.navbar {
  height: fit-content;
  padding: 5px;
  background-color: rgb(255, 203, 59);
  box-sizing: border-box;
}
.nav1 {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav1 img {
  height: 100%;
}
.navb2 {
  display: flex;
  background-color: rgb(255, 203, 59);
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 10px;
}
.nav2 {
  width: 60%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.n2 {
  width: 100%;
}
.nav2 ul {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav2 ul li {
  text-align: center;
}
.nav2 ul a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
}
.nav2 ul a:hover {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: black;
}

/* navbar end */
/* isi start */
.con {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100%;
}
.contain1 {
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
}
.contain2 {
  height: 200px;
  background-color: rgb(55, 55, 55);
  width: 100%;
}
.c1 {
  overflow: hidden;
  height: 50%;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pho {
  margin-top: 40px;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pho img {
  height: 90%;
  border-radius: 5%;
}
.c1 .name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  z-index: 1; /* Keep content above the video */

}
.c1 .background-video {
  position: absolute;
  
  top: 300px;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Send video to the background */
  transform: translate(-50%, -50%);
  object-fit: cover; /* Make the video cover the entire container */
}
.contain3 {
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.c2 {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.co2 {
  padding: 10px;

  width: fit-content;
}
.c2 .selogan,
.c2 .sub,
.c2 .shop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-sizing: border-box;
  color: white;
}
.c2 .selogan h1 {
  font-size: 30px;
  font-weight: bold;
}
.c2 .sub h3 {
  font-size: 25px;
}
.c2 .shop a {
  height: 30px;
  background-color: rgb(23, 23, 23);
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 0;
  border-radius: 5%;
}

.c3 {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contain4 {
  width: 50%;
  height: 100%;
  background-color: rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
}
.c4 {
  width: 85%;
}
.abo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.abo h1 {
  color: white;
  font-size: 30px;
}
.c4 .but {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.c4 .but a {
  background-color: white;
  margin: 10px;
  padding: 5px;
  color: black;
  border-radius: 5%;
  font-weight: bold;
}
.subcon {
  height: 300px;
}
.subcon .head{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.subcon .bod{
  display: flex;
  height: 40vh;
  flex-wrap: wrap;
}

/* isi end */
